@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f3f3f3;
  --color-secondary: #393e46;
  --color-custom: #8b5cf6;
  --color-wrapper: #ffffff;
  --color-border: rgb(0 0 0 / 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #222222;
    --color-secondary: #dddddd;
    --color-custom: #8b5cf6;
    --color-wrapper: #1a1a1a;
    --color-border: rgb(255 255 255 / 0.1);
  }
}

.dark {
  --color-primary: #222222;
  --color-secondary: #dddddd;
  --color-custom: #8b5cf6;
  --color-wrapper: #1a1a1a;
  --color-border: rgb(255 255 255 / 0.1);
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
button:focus {
  outline: none;
}

h1 {
  font-size: 55px;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 16px;
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-screen-2xl px-6;
  }

  .flex-center-col {
    @apply flex justify-center flex-col items-center;
  }
  .input {
    @apply mt-1 p-3 text-black/60 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-custom focus:ring-custom block w-full rounded-md sm:text-sm focus:ring-1;
  }
}