@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f3f3f3;
  --color-secondary: #393e46;
  --color-custom: #8b5cf6;
  --color-wrapper: #ffffff;
  --color-border: rgb(0 0 0 / 0.1);
  --color-def: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #222222;
    --color-secondary: #dddddd;
    --color-custom: #8b5cf6;
    --color-wrapper: #1a1a1a;
    --color-border: rgb(255 255 255 / 0.1);
    --color-def: #fff;
  }
}

.dark {
  --color-primary: #222222;
  --color-secondary: #dddddd;
  --color-custom: #8b5cf6;
  --color-wrapper: #1a1a1a;
  --color-border: rgb(255 255 255 / 0.1);
  --color-def: #fff;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: "Poppins", sans-serif;
}
button:focus,
select:focus {
  outline: none;
}
button:hover {
  transition: all 0.3s;
}

h1 {
  font-size: 55px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 17px;
}
p {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-custom);
  border-radius: 3px;
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-screen-2xl px-6;
  }

  .flex-center-col {
    @apply flex justify-center flex-col items-center;
  }
  .input {
    @apply mt-1 p-3 text-black/60 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-custom focus:ring-custom block w-full rounded-md sm:text-sm focus:ring-1;
  }
  @media screen and (max-width: 1920px) {
    ul {
      @apply list-none h-60 overflow-hidden hover:overflow-auto rounded-lg;
    }
  }
  ul {
    @apply list-none rounded-lg;
  }
  .device-tabs {
    @apply border-b-2 border-transparent;
  }
  .device-tabs.active {
    @apply border-custom transition-all;
  }
  .dashboard-tabs {
    @apply space-y-2 mb-6 flex flex-col;
  }
  .dashboard-tabs button {
    @apply flex justify-start border border-border items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 text-left;
  }
  .dashboard-tabs button:hover {
    @apply bg-[var(--color-primary)];
  }
  .dashboard-tabs button.active {
    @apply bg-[var(--color-custom)] text-white;
  }
  .wishlist {
    @apply grid grid-cols-1 gap-4 
  }
}

.dashboard-tabs button:hover svg {
  fill: var(--color-custom);
}
